# 01-Intro Homework

## Setup the environment, install python, numpy, pandas, matplotlib, seaborn

```
(/home/rks/Code/MLZoomCamp2023-Notes/.venv) rks@rks-laptop:~/Code/MLZoomCamp2023-Notes$ conda env export --from-history
name: /home/rks/Code/MLZoomCamp2023-Notes/.venv
channels:
  - defaults
dependencies:
  - python=3.10
  - numpy
  - scikit-learn
  - jupyter
  - seaborn
  - pandas
  - matplotlib
prefix: /home/rks/Code/MLZoomCamp2023-Notes/.venv
```

In [86]:
import pandas as pd
import numpy as np

## Question 1
What's the version of Pandas that you installed?

In [34]:
pd.__version__

'2.0.3'

In [66]:
df = pd.read_csv('housing.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

## Question 2
How many columns are in the dataset?

- 10
- 6560
- 10989
- 20640

In [42]:
len(df.columns)

10

## Question 3
Which columns in the dataset have missing values?

- total_rooms
- total_bedrooms
- both of the above
- no empty columns in the dataset

In [43]:
df.columns[df.isnull().any()]

Index(['total_bedrooms'], dtype='object')

## Question 4
How many unique values does the ocean_proximity column have?

- 3
- 5
- 7
- 9

In [69]:
print( f'Unique ocean_proximity values: {df.ocean_proximity.unique()}' )
len(df.ocean_proximity.unique())

Unique ocean_proximity values: ['NEAR BAY' '<1H OCEAN' 'INLAND' 'NEAR OCEAN' 'ISLAND']

5

## Question 5
What's the average value of the median_house_value for the houses located near the bay?

- 49433
- 124805
- 259212
- 380440

In [45]:
houses_near_the_bay = df[ df['ocean_proximity'] == 'NEAR BAY' ]
round(houses_near_the_bay.median_house_value.mean())

259212

## Question 6
1. Calculate the average of total_bedrooms column in the dataset.
2. Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.
3. Now, calculate the average of total_bedrooms again.
4. Has it changed?

Hint: take into account only 3 digits after the decimal point.

- Yes
- No

In [67]:
before_avg_total_bedrooms = round(df.total_bedrooms.mean(), 3)
print(f'Average of total_bedrooms: {before_avg_total_bedrooms}' )

print(f'BEFORE: No. of cells with invalid values: { len(df[df.total_bedrooms.isnull() == True]) }')
df.total_bedrooms.fillna(before_avg_total_bedrooms, inplace=True)
print(f'AFTER: No. of cells with invalid values: { len(df[df.total_bedrooms.isnull() == True]) }')
after_avg_total_bedrooms = round(df.total_bedrooms.mean(), 3)

print(f'Average after filling invalid values: {after_avg_total_bedrooms}')

Average of total_bedrooms: 537.871
BEFORE: No. of cells with invalid values: 207
AFTER: No. of cells with invalid values: 0
Average after filling invalid values: 537.871

## Question 7
1. Select all the options located on islands.
2. Select only columns housing_median_age, total_rooms, total_bedrooms.
3. Get the underlying NumPy array. Let's call it X.
4. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
5. Compute the inverse of XTX.
6. Create an array y with values [950, 1300, 800, 1000, 1300].
7. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
8. What's the value of the last element of w?

Note: You just implemented linear regression. We'll talk about it in the next lesson.

- 1.4812
- 0.001
- 5.6992
- 23.1233

In [91]:
#1, #2
rows_islands = df.loc[ df['ocean_proximity'] == 'ISLAND', ("housing_median_age", "total_rooms", "total_bedrooms") ]

#3
x = rows_islands.to_numpy()

#4
xtx = np.matmul(x.T, x)

#5
xtx_inv = np.linalg.inv(xtx)

#6
y = [950, 1300, 800, 1000, 1300]

#7
xtx_invx = np.matmul(xtx_inv, x.T)

w = np.matmul(xtx_invx, y)

# 8
w[-1]

array([[9.6820000e+03, 3.5105300e+05, 9.1357000e+04],
       [3.5105300e+05, 1.4399307e+07, 3.7720360e+06],
       [9.1357000e+04, 3.7720360e+06, 9.9835800e+05]])